<body>
	<div class="container">
		<div class="row">

			<section class="col-xs-3">
				<!-- ユーザー情報と投稿フォームを表示 -->
				<%= render 'users/list', book: @book, user: @user %>
			</section>

			<section class="col-xs-9">
				<h1>Users</h1>

				<!-- ユーザー一覧を表示 -->
				<table class="table table-hover table-inverse">
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th></th>
						</tr>
					</thead>
					<% @users.each do |user| %>
					<tbody>
						<tr>
							<td>
								<%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "img/no-image.png", size: "50x50" %>
							</td>
							<td><%= user.name %></td>
							<td><%= link_to "Show", user_path(user.id), class: "user_#{user.id}" %></td>
						</tr>
					</tbody>
					<% end %>
				</table>
			</section>

		</div>
	</div>
</body>